# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules and system files (optional best practices)
node_modules/
.DS_Store

# Allow lib to be committed
!lib/
